body {
  background-color: black;
}

h1, p {
  font-family: Verdana;
}

h1 {
  font-size: 50px;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

a {
  color: aquamarine;
}

.content-center{
  text-align: center;
}

footer p {
  text-align: right;
}
